/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}



:root {
   --font-regular:"Roboto",Helvetica, sans-serif;
   --font-main:"Montserrat",Georgia, serif;



   --color-input:#323447;
   --color-card:#2E3440;
   --color-gray-lighter:#CCCCCC;
   --color-gray:#BCBCBC;
   --color-neutral-dark:#30304e;
   --color-main-purple: #7963FF;
    --color-main-light: #d5fffe;
    --color-main-medium: #1acfc8;
    --color-main-dark: #1F2227;
    --color-gradient:linear-gradient(270deg, #7A24F3 0%, #3C5EF3 100%);

   --color-white:#fff;
   --color-black:#000;

   --header-height:4rem;
}

.html {
  background-color: var(--color-main-dark);
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color:var(--color-white);
   font-family:var(--font-main);
   font-weight: bold;
}

h1 {
   font-size: 16px;

}


a {
   color:var(--color-main-purple);
   font-weight:bold;
   text-decoration:none;
   font-size: 14px;
   letter-spacing: 0.02em;

}
   a:hover {
      text-decoration: underline;
   }



/* LAYOUT CLASSES */


.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
   height:100%;
   width:100%;
   overflow:auto;
    margin-top: 1em;

}




.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */


.form-avatar {
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--color-gray-lighter);
}



.ui-select {
  width: 100%;
  display: inline-block;
  border-width: 0;
  color: var(--color-neutral-lighter);
  background-color: var(--color-input);
  font: inherit;
  outline: 0;
  width: 100%;
  height: 3em;
  border-radius: 6px;
}

/*.select-div {
  content: "▶";
  color: var(--color-neutral-lighter);
  position: absolute;
  z-index: 2;
  font-size: 0.8em;
  top: 50%;
  right: 1em;
  transform: translateY(-50%) rotate(90deg);
}
*/
.select-div::after {
  content: "▶";
  margin: 2.5em 1.5em;
  color: var(--color-neutral-lighter);
  position: absolute;
  z-index: 2;
  font-size: 0.8em;
  right: 1em;
  transform: translateY(-50%) rotate(90deg);
}


.ui-mobile label.form-label {
    margin-bottom: 0.6em;
    color: var(--color-gray-lighter);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;

}

/*.ui-mobile label, .ui-controlgroup-label {
    margin: 0 1em;

}*/

.form-input {
    display: inline-block;
    border-width: 0;
    color: var(--color-neutral-lighter);
    background-color: var(--color-input);
    padding: 0.5em 1em;
    font: inherit;
    outline: 0;
    width: 100%;
    height: 3em;
    border-radius: 6px;


}


.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background: var(--color-gradient);
    border-radius: 100px;
    padding: 1em 2em;
    margin-top: 1.5em;
    font-size: 20px;
    outline: 0;
    text-align:center;
    color: #FFFFFF;
    font-size: 110%;
}

.form-button-gray {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background: #2F324F;
    border-radius: 100px;
    padding: 1em 2em;
    margin-top: 1.5em;
    font-size: 20px;
    outline: 0;
    text-align:center;
    color: #FFFFFF;
    font-size: 110%;
}

.form-button:hover {
   text-decoration:none;
   cursor:pointer;
}

.hotdog {
   width: 100%;
   display: inline-flex;
   background-color: var(--color-main-dark);
   padding: 0.5em 1em;
   border-radius: 2em;
   line-height:1;
}
[data-role="header"]>.hotdog {
   padding:0.7em 1em;
}
.hotdog>input {
    flex: 1;
    border-width: 0;
    border-radius: 0;
    background-color: #1f2327;
    font: inherit;
    color: white;
    outline: 0;
    padding: 0;
}


.round-button {
    width: 100%;
    margin: auto;
}
.map {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}
.icon {
    width: 1.5em;
    vertical-align: text-bottom;
}
.ui-header .icon {
  vertical-align:middle;
}




/* PAGE LAYOUTS */

.ui-mobile-viewport {
  background-color: var(--color-main-dark);
}
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
   background-color: var(--color-main-dark);
}
.ui-header {

    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    overflow: hidden;
    flex: none;
    position: relative;
    background-color: #272E3A;
    padding: 0 1em;
    color:var(--color-white);

}
.ui-footer {

    border-width: 0;
    overflow: hidden;
    flex: none;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 90%;
    background: rgba(42, 49, 63, 0.9);
    backdrop-filter: blur(10px);
    border: solid 1px transparent;
    background-clip: padding-box;

}

.ui-header .ui-title {

/*   background-color: #272E3A;*/
   margin: 0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   z-index:1;
}






/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a,
.ui-header a {
   padding:0 0em;
   display:block;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}

.nav-icon {

    width: 3em;
    height: 3em;
    vertical-align: text-bottom;
    margin: 0.5em;
    margin-top: 1em;
}





/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
   background: linear-gradient(186.4deg, #332158 -2.21%, #251E33 33.5%, #171A20 95.35%);
}
#signup-page [data-role='main'] {
   align-items:center;
   justify-content:center;
}


#edit-fairyavatar-page [data-role='main'] {
   background-image:url('../img/map_example.jpg');
   background-position:center;
   background-size:cover;
}



/*map*/

.map {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.fairy-add-top {
    height: 40%;
    flex: none;
    overflow: auto;
    position: relative;
}

/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10;
    pointer-events:none;
}
.modal.active {
    opacity: 1;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}

/* MODAL TOAST */
.modal-toast {
  position: absolute;
  width: 70%;
  min-height: var(--header-height);
  background-color: var(--color-black);
  opacity: 0.8;
  color: var(--color-white);
  border-radius: 0.3em;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  left: 50%;
  text-align: center;
  padding: 1em;
  transition: all 0.3s;
}



.modal-toast.center {
  top: 24em;
  transform: translate(-50%, 1em);
}
.modal-toast.bottom {
  bottom: 1em;
  transform: translate(-50%, -1em);
}
.modal.active .modal-toast {
  transform: translate(-50%, 0);
  pointer-events: initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;

}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:30vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex:1 1 100%;
}



/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 3.6em; }
.floater.center {
    z-index: 1;
    position: absolute;
    left: 33.5%;
}




/* CIRCLE */
.btn-circle {
    background-color: hsla(242,88%,66%,1);
    width: 3rem;
    height: 3rem;
    display: inline-block;
    line-height: 3rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
    font-size: 1.5em;
    border-radius: 2em;
    box-shadow: 
}


.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
  right:1em;
}
.modal-close-floater.top {
  top:-1em;
  transform: translateY(-100%);
}

/* Profile */
.user-profile-image {
   position:relative;
}
.user-profile-image>img {
   width:calc(50vmin - 4em);
   height:calc(50vmin - 4em);
   margin:2em;
   border-radius:50%;
   box-shadow: 0px 10px 13px rgba(0,0,0,0.15);
   display: flex;
    margin: 5em auto 0em;
   object-fit:cover;
}

.user-profile-name {
  text-align: center;
  color: var(--color-white);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.profile-icon {
    float: left;
    margin: 0.1em 1em 0em 0em;
}


/* SETTINGS */
.settings-list {
    padding: 0.7em 0em 0.7em 0em;
    list-style-type: none;
    margin: 1em;
    border-bottom: 1px solid #323447;
    font-family: 'Roboto';
}
.settings-list a {
   padding: 0.5em 1em;
}
.settings-list li:not(:first-child) {
   border-top: 1px solid var(--color-neutral-medium);
}

.settings-list a {
    display: block;
    position: relative;
    color: var(--color-white);
    font-weight: 500;
    font-size: 0.9em;
}
.settings-list a:not([href='#'])::after {
   position:absolute;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}

.js-logout {
    margin: 1em;

}

li {
     list-style-type: none;
}

/* ANIMAL LIST */

.animallist-item {
    display: flex;
    margin: 1em 1em 2em 1em;
    background-color: var(--color-card);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    border-radius: 0.6em;
    overflow: hidden;
}

.animallist-popup {

    display: flex;
    background-color: var(--color-white);
    overflow: hidden;
}

.animallist-popup-description { 
    padding: 1.5em 1em 0em 0em;
    flex: 2 2 auto;
    color: var(--color-black);

}

.animal-image {
    margin: 0.5em;
    width: 6.5em;
    vertical-align: text-bottom;
    object-fit: cover;
}
.animallist-icon img {

    margin: 0.5em;
    width: 6.5em;
    vertical-align: text-bottom;
    object-fit: cover;
}
.animallist-description {
    padding: 1em 1em 1em 0em;
    flex: 2 2 auto;
    color: var(--color-white);
}
.animallist-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.animallist-type {
    display: inline-block;
    background-color: hsl(242deg 88% 66% / 24%);
    color: #5656ff;
    padding: 0.3em;
    right: 1em;
    margin: 1em;
    width: 5rem;
    height: 1.8rem;
    text-align: center;
    font-size: 0.9em;
    border-radius: 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
.animallist-time {
    opacity: 0.3;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size:0.8em;
}

.animallist-contest {
    opacity: 0.7;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 1em;
}

/*
aminal profile*/
#animal-profile-page [data-role='main'] {
    display: flex;
    flex-direction: column;
}
.profile-top {
    flex: 1;
    position: relative;
    overflow:auto;
    margin: 0em 0em 1.5em 0em;

}
.profile-bottom {

    height: 40%;
    flex: none;
    overflow:auto;
    position:relative;
}

.fairy-profile-info {
  padding: 1em;
  flex: 2 2 auto;
  color: var(--color-white);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animalprofile-description {
    padding: 0em 1em 0em 1em;
    flex: 2 2 auto;
    color: var(--color-white);
    margin: auto;
    text-align: center;

}
.center-image img {
    margin: 0.5em;
    width: 8em;
    vertical-align: text-bottom;
    object-fit: cover;
}

.fairy-profile-name {
    font-family: var(--font-main);
    font-style: normal;
    font-size: 1.7em;
}
.fairy-profile-stats {
    font-family: : var(--font-regular);
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--color-gray-lighter);
    margin-bottom: 0.2em;
    opacity: 0.2;
    margin-top: 1em;
}
.fairy-profile-value {
    font-family: var(--font-regular);
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: var(--color-gray);
}


.filter-list {
    display: flex;
    overflow: auto;

}
.filter {
    padding: 0 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor:pointer;
}
