/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Helvetica, Arial, sans-serif;
   --font-serif:Georgia, serif;

   --color-neutral-lighter:#f0f0f1;
   --color-neutral-light:#e0e0e5;
   --color-neutral-mediumer:#b4b4be;
   --color-neutral-medium:#83838f;
   --color-neutral-dark:#30304e;

    --color-main-light: #d5fffe;
    --color-main-medium: #1acfc8;
    --color-main-dark: #1e5452;

   --color-white:#fff;
   --color-black:#000;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color:var(--color-neutral-dark);
   font-family:var(--font-serif);
}




a {
   color:inherit;
   font-weight:bold;
   text-decoration:none;
}
   a:hover {
      text-decoration: underline;
   }





/* LAYOUT CLASSES */

.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
   height:100%;
   width:100%;
   overflow:auto;
}




.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */


.form-avatar {
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFFFFF;
    line-height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;


}
.ui-mobile label.form-label {
    margin: 0 1em 0.5em;
    font-size: 0.8em;
    color: var(--color-neutral-mediumer);
}
.form-input {
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    border-radius: 30px;
    padding: 0.5em 1em;
    font: inherit;
    outline: 0;
    width: 330px;
    height: 56px;


}
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background: #3A50E2;
    border-radius: 100px;
    padding: 0.5em 1em;
    font: inherit;
    outline: 0;
    text-align:center;
    width: 276px;
    height: 56px;
    color: #FFFFFF;
    font-size: 20px;
}
.form-button:hover {
   text-decoration:none;
   cursor:pointer;
   background: #FFFFFF;
  border: 1px solid #63A1FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(135, 221, 255, 0.6);
  border-radius: 30px;
}

.icon {
  width: 100%;
  left: 140px;
  top: 159px;
}



/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   z-index:1;
}






/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a,
.ui-header a {
   padding:0 1em;
   display:block;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin-top: 20%;
}

.navbar {
  background: #F8F8F8;
  border-radius: 50px 50px 0px 0px;
  height: 80px;
}



/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
   background: linear-gradient(180deg, #0C2A78 0%, #191F53 100%);
}
#signup-page [data-role='main'] {
   display:flex;
   align-items:center;
   justify-content:center;
}


#edit-fairyavatar-page [data-role='main'] {
   background-image:url('../img/map_example.jpg');
   background-position:center;
   background-size:cover;
}



/*map*/

.map {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}




/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10;
    pointer-events:none;
}
.modal.active {
    opacity: 1;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:30vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex:1 1 100%;
}



/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }




/* CIRCLE */
.btn-circle {
   background-color:var(--color-white);
   width:3rem;
   height:3rem;
   line-height:3rem;
   text-align:center;
   font-size:1.5em;
   border-radius:2em;
   box-shadow:2px 2px 5px rgba(0,0,0,0.15);
}


.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
  right:1em;
}
.modal-close-floater.top {
  top:-1em;
  transform: translateY(-100%);
}



/* ANIMAL LIST */
.animallist-icon img {
   width: 100px;
   height: 80px;
   vertical-align: text-bottom;
   object-fit: cover;
}
.animallist-item {
   display: flex;
   margin: 1em;
   background-color: #ffffff;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
   border-radius: 1em;
   overflow: hidden;
}
.animallist-description {
   padding:0.5em;
   flex: 1 1 auto;
}
.animallist-name {
   font-size:1.2em;
}


/*
aminal profile*/
#animal-profile-page [data-role='main'] {
    display: flex;
    flex-direction: column;
}
.profile-top {
    height: 300px;
    flex: none;
    overflow:auto;
    position:relative;
}
.profile-bottom {
    flex: 1;
    position: relative;
    overflow:auto;
}