/* reference from http://www.csszengarden.com/221/ */


/* 
==========================================================================
Some globals
==========================================================================
*/
abbr[title],
acronym[title] {
  border-bottom-width: 0;
}
html,
body {
  font-family: "ff-meta-web-pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  line-height: 26px;
  background: #f6efe5;
  background-size: 60%;
  color: #0d2c40;
}
a {
  color: #0d2c40;
  text-decoration: none;
  border-bottom: 1px solid #0d2c40;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}


/* 
==========================================================================
Header-container
==========================================================================
*/
.header-container {
  overflow: hidden;
}
.header-container header {
  position: relative;
  background: #c879b2;
  overflow: hidden;
  width: 40%;
  height: 18em;
  float: left;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
  @media (max-width: 70em) {
    .header-container header {
      background: #f15a30;
      width: 100%;
      height: 27em;
    }
  }
  @media (max-width: 53em) {
    .header-container header {
      height: 20em;
    }
  }


.title {
  text-transform: uppercase;
  position: relative;
  background: #0d2c40 url(img/icon-star.svg) no-repeat left bottom;
  background-size: 50%;
  float: right;
  color: #ffffff;
  font-size: 300%;
  line-height: 1.25em;
  width: 50%;
  height: 6em;
  margin: 0 0 0 0;
  padding: 1.5em 0.5em 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .title {
      background: #0d2c40 url(img/icon-star.svg) no-repeat left bottom;
      background-size: 49%;
      width: 66.666%;
      height: 9em;
      padding: 1em 0.5em 0 0.5em;
    }
  }
  @media (max-width: 53em) {
    .title {
      background: #0d2c40 url(img/icon-star.svg) no-repeat left bottom;
      background-size: 49%;
      font-size: 200%;
      width: 66.666%;
      height: 10em;
      padding: 1em 0.5em 0 0.5em;
    }
  }

/*nav*/
  .header-container nav {
  font-size: 100%;
  color: #ffffff;
  height: 10em;
  margin: 0;
  padding: 2em 2em 2em 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .header-container nav {
      width: 100%;
      height: auto;
      padding: 2em 2em 37% 1em;
    }
  }

.header-container nav a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.header-container nav a:hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* 
==========================================================================
Main-container
==========================================================================
*/

.main-container header {
  font-size: 100%;
  color: #ffffff;
  width: 100%;
 
  background: #c879b2 url(img/icons-3-pack.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 101%;
  height: 50em;
  margin: 0;
  padding: 3em 5em 10em 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .main-container header {
      width: 100%;
      height: auto;
      padding: 2em 1em 37% 1em;
    }
  }

 .main-container header h1 {
  text-transform: uppercase;
  font-size: 200%;
}

.main-container header p {
  padding: 0 40% 2em 0 ;
  margin: 0;
}
  @media (max-width: 70em) {
    .main-container header p {
      padding: 0 0 1em 35%;
    }
  }
  @media (max-width: 53em) {
    .main-container header p {
      padding: 0 0 1em 0;
    }
  }


.main-container section {
  background: #0d2c40 url(img/icon-half.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 15%;
  position: relative;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 3em 8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .main-container section {
      width: 1006%;
      margin: 0;
    }
  }
  @media (max-width: 53em) {
    .main-container section {
      background: #0d2c40;
      width: 100%;
      margin: 0;
      padding: 1em;
    }
  }



/* 
==========================================================================
Aside
==========================================================================
*/

  .main-container aside {
  background: rgba(0, 188, 217, 0.8) url(img/icon-star.svg) no-repeat left top;
  background-size: 100%;
  position: absolute;
  right: 20%;
  z-index: 2;
  margin-left: 0;
  width: 20%;
  padding: 18em 1em 6em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .main-container aside {
      right: 0;
      width: 33.250%;
      padding: 20em 1em 6em 1em;
    }
  }
  @media (max-width: 53em) {
    .main-container aside {
      background: rgba(0, 188, 217, 0.8) url(img/icon-star.svg) no-repeat center top;
      background-size: 33%;
      position: relative;
      right: 0;
      width: 100%;
      margin-top: 0;
      padding: 11em 1em 1em 1em;
    }
  }
  @media (max-width: 33em) {
    .main-container aside {
      background: rgba(0, 188, 217, 0.8) url(img/icon-star.svg) no-repeat center top;
      background-size: 33%;
      position: relative;
      right: 0;
      width: 100%;
      margin-top: 0;
      padding: 2em 1em 1em 1em;
    }
  }
.main-container aside h3 {
  font-size: 150%;
}

/* 
==========================================================================
footer-container
==========================================================================
*/
.main-container footer {
  background: #c879b2 url(img/icon-circles.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20%;
  position: relative;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 6em 20em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
 @media (max-width: 70em) {
    .main-container footer {
      width: 100%;
      margin: 0;
    }
  }
  @media (max-width: 53em) {
    .main-container footer {
      background: #c879b2;
      width: 100%;
      margin: 0;
      padding: 1em;
    }
  }